# Payload CMS Configuration
PAYLOAD_SECRET=aZ7pL4YQfX91tD8WmRkN2qJvEoUCs5ZT3ghBxnM0
DATABASE_URI=mongodb+srv://<noircommunity>:<2UuPWtuFRiqyTxS5>@noirwebsite.z1h11kl.mongodb.net/?retryWrites=true&w=majority&appName=NoirWebsite

# Next.js Configuration
NEXT_PUBLIC_PAYLOAD_URL=http://localhost:3001