# Payload CMS Configuration
PAYLOAD_SECRET=aZ7pL4YQfX91tD8WmRkN2qJvEoUCs5ZT3ghBxnM0
DATABASE_URI=mongodb+srv://<noircommunity>:<2UuPWtuFRiqyTxS5>@noirwebsite.z1h11kl.mongodb.net/?retryWrites=true&w=majority&appName=NoirWebsite

# Next.js Configuration
# For local development
NEXT_PUBLIC_PAYLOAD_URL=http://localhost:3001

# For production (update with your deployed Payload URL)
# NEXT_PUBLIC_PAYLOAD_URL=https://your-payload-app.vercel.app